@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-feature-settings: "liga", "kern";
  letter-spacing: 0.01em;
}

/* Se for manter o dark mode para o futuro, pode manter esse trecho */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}